<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
                <h1>HRIS</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-6">
                    <button class="btn-icon-clipboard">
                        <a href="https://www.powerglobalservice.com/hrc/LoginCust/OS01674PGSLogIn.aspx" target="_blank">
                            
                                <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                 เข้าสู่ระบบ ESS
                                </div>
                                <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                    src="https://www.flaticon.com/svg/vstatic/svg/1164/1164576.svg?token=exp=1618023004~hmac=8bebf26c6ba784f4675d91ad1b0ec71e">
                                </div> -->
                        
                        </a>
                    </button>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <button class="btn-icon-clipboard">
                    <a href="https://www.powerglobalservice.com/hrc/LoginCust/OS01674PGSLogIn.aspx" target="_blank">
                        
                            <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                             เข้าสู่ระบบ KPI
                            </div>
                            <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                src="https://www.flaticon.com/svg/vstatic/svg/1924/1924605.svg?token=exp=1618201783~hmac=acb9c6646fa227cc085a821127459ed4">
                            </div> -->
                    </a>
                </button>
            </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-md-6">
                    <button class="btn-icon-clipboard">
                        <a href="https://www.powerglobalservice.com/hrc/LoginCust/OS01674PGSLogIn.aspx" target="_blank">
                            
                                <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                    คู่มือ ESS
                                </div>
                                <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                    src="https://www.flaticon.com/svg/vstatic/svg/1773/1773049.svg?token=exp=1618211068~hmac=67a34f7769142b85d4f11569a46b9010">
                                </div> -->
                        </a>
                    </button>
                </div>

               
            </div>
            <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <button class="btn-icon-clipboard">
                    <a href="https://www.powerglobalservice.com/hrc/LoginCust/OS01674PGSLogIn.aspx" target="_blank">
                        
                            <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                คู่มือ ESS
                            </div>
                            <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                src="https://www.flaticon.com/svg/vstatic/svg/1006/1006391.svg?token=exp=1618210955~hmac=4468e64d7fe790a5db7d6e80296b565d">
                            </div> -->
                    </a>
                </button>
            </div>
            </div>

        </mat-card>
    </div>
</div>
