<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
                <h1>กองทุนประกันสังคมและกองทุนเงินทดแทน</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-6">
                    <button class="btn-icon-clipboard">
                        <a href="" target="_blank">
                            
                                <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                ข้อมูล/ความรู้เกี่ยวกับประกันสังคม
                                </div>
                                <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                    src="https://www.flaticon.com/svg/vstatic/svg/1164/1164576.svg?token=exp=1618023004~hmac=8bebf26c6ba784f4675d91ad1b0ec71e">
                                </div> -->
                        
                        </a>
                    </button>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <button class="btn-icon-clipboard">
                    <a href="https://www.sso.go.th/wpr/" target="_blank">
                        
                            <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                            Web site สำนักงานประกันสังคม
                            </div>
                            <!-- <div class="row" style="justify-content: center;"><img class="width-img"
                                src="https://www.flaticon.com/svg/vstatic/svg/1924/1924605.svg?token=exp=1618201783~hmac=acb9c6646fa227cc085a821127459ed4">
                            </div> -->
                    </a>
                </button>
            </div>
            </div>

        </mat-card>
    </div>
</div>