<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>แบบฟอร์มต่างๆ</h1>

            <div class="row-12">
                <button class="btn-icon-clipboard">
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 1</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard">
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 2</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 3</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 4</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 5</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 6</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">แบบฟอร์ม 7</div>
                    </div>
                </button>
            </div>
        </mat-card>
    </div>
</div>

